@{
    Layout = null;
}
<html>
<head>
    <link href="../../Content/qunit.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script src="../../Scripts/qunit.js" type="text/javascript"></script>
    <script src="../../Scripts/sr.js" type="text/javascript"></script>
    <script src="../../Scripts/2011.3.1129/kendo.all.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // --- Unittest Code goes here ---

        //        $(document).ready(function () {
        //            module("Basic Unit Test");
        //            test("Sample test", function () {
        //                expect(1);
        //                equals(divide(4, 2), 2, 'Expected 2 as the result, result was: ' + divide(4, 2));
        //            });
        //        });

        //        var datasource = new kendo.data.DataSource({
        //            transport: {
        //                read: {
        //                    url: "http://sverigesradio.se/xmltv/sr_2012-01-12.xml",
        //                    dataType: "xml"

        //                }
        //            }
        //        });


        $(document).ready(function () {
            //            alert('Hämtar tablå.');
            //            $.get('http://sverigesradio.se/xmltv/sr_2012-01-23.xml', function (data) {
            //                //$('.result').html(data);
            //                alert('Load was performed.' + data);
            //            });


            var jqxhr = $.get('/Content/sr.xml', function (data) {
                $(data).find('channel').each(function (kanal) {
                    $('<li>' + $(this).find('display-name').text() + '</li>').appendTo(kanaler);

                })
            })
            //              .success(function () { alert("second success"); })
            //              .error(function () { alert("error"); })
            //              .complete(function () { alert("complete"); });


        });



    </script>
</head>
<body>
    <ol id="kanaler">
    </ol>
</body>
</html>
